body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

.skipLink {
  color: white;
  display: none;
}
